@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* top-head part css */
.top-header {
    background-color: #D7CFC4;
}

.top_head_font_aw {
    font-size: 20px;
}

.top_head_img {
    vertical-align: middle;
    height: 20px;
    width: 21px;
}

/* new arrival main section css */
.product-tabs .nav-link {
    font-weight: 600;
    color: #555;
    position: relative;
}

.product-tabs .nav-link.active {
    color: #000;
}

.product-tabs .nav-link.active::after {
    content: "";
    position: absolute;
    left: 38px;
    bottom: -5px;
    width: 50%;
    height: 2px;
    background-color: #000;
}

.product-card {
    position: relative;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 30px;
    border-radius: 6px;
    display: none;
}
.product-card:hover .add-to-cart-btn {
 display: block;
}
/* footer */
.footer_bg_color{
    background-color: #EAE5DE;
}
.email-subscribe {
    border: 1px solid #B8A79E;
    width: auto;
}
.email-input {
    border: none;
    background: transparent;
    outline: none;
}
.join-btn {
    border: none;
    background: transparent;
}
.help,.list-unstyled li,.foteer_p>p{
    font-family: "Nunito Sans", sans-serif;}
.list-unstyled li,.foteer_p>p{
    font-size: 13px;
}
.design{
    font-family: "Italiana", sans-serif;
    font-size: 38px;  
}
a{
    text-decoration: none;
}
/* .new_arrival_section{
    display: none;
} */
/* best seller section css */
.best-sell-bg-img{
    background: url('../images/bnirthday_sale_img_bg.png') no-repeat center center;
    background-size: cover;
    height: 470px;
}
.title-birth{
    font-size: 76px;
    font-family: "Italiana", sans-serif;
}
.deal{
font-family: "Nunito Sans", sans-serif;
opacity: 0.6;
}
.discount_up{
    font-family: "Nunito Sans", sans-serif;
    font-size: 30px; 
}
/* shop by category section */
/* .long-arrow {
    font-size: 50px;
    font-weight: 0;
    display: inline-block;} */
.shop_now{
position: relative;
}
.shop_now::after {
    content: "\27F6";
    position: absolute;
    left: 0px;
    top: 0%; 
    font-size: 50px;
}
/* .main{
    display: none;
} */
/* .toprated-section{
    display: none;
} */
/* top rated section css */
